In [1]:
from pyspark.sql import SparkSession, functions as f, types as t

In [2]:
spark = SparkSession.builder.appName('lect_13_home_task').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/20 16:03:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/20 16:03:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/10/20 16:03:51 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/10/20 16:03:51 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [4]:
actor_df = spark.read.csv('./data/actor.csv', header=True, inferSchema=True)
address_df = spark.read.csv('./data/address.csv', header=True, inferSchema=True)
category_df = spark.read.csv('./data/category.csv', header=True, inferSchema=True)
city_df = spark.read.csv('./data/city.csv', header=True, inferSchema=True)
country_df = spark.read.csv('./data/country.csv', header=True, inferSchema=True)
customer_df = spark.read.csv('./data/customer.csv', header=True, inferSchema=True)
film_df = spark.read.csv('./data/film.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('./data/film_actor.csv', header=True, inferSchema=True)
film_category_df = spark.read.csv('./data/film_category.csv', header=True, inferSchema=True)
inventory_df = spark.read.csv('./data/inventory.csv', header=True, inferSchema=True)
language_df = spark.read.csv('./data/language.csv', header=True, inferSchema=True)
payment_df = spark.read.csv('./data/payment.csv', header=True, inferSchema=True)
rental_df = spark.read.csv('./data/rental.csv', header=True, inferSchema=True)
staff_df = spark.read.csv('./data/staff.csv', header=True, inferSchema=True)
store_df = spark.read.csv('./data/store.csv', header=True, inferSchema=True)

# Домашнє завдання на тему Spark SQL

Задачі з домашнього завдання на SQL потрібно розвʼязати за допомогою Spark SQL DataFrame API.

- Дампи таблиць знаходяться в папці `data`. Датафрейми таблиць вже створені в клітинці вище.
- Можете створювати стільки нових клітинок, скільки вам необхідно.
- Розвʼязок кожної задачі має бути відображений в самому файлі (використати метод `.show()`)

**Увага!**
Використовувати мову запитів SQL безпосередньо забороняється, потрібно використовувати виключно DataFrame API!

1.
Вивести кількість фільмів в кожній категорії.
Результат відсортувати за спаданням.

In [24]:
# тут має бути розвʼязок задачі
sql1 = film_category_df.groupBy('category_id').agg(f.count('film_id').alias('count_film')).sort('count_film')
sql1.select('category_id', 'count_film').orderBy(f.desc('count_film')).show(20)

+-----------+----------+
|category_id|count_film|
+-----------+----------+
|         15|        74|
|          9|        73|
|          8|        69|
|          6|        68|
|          2|        66|
|          1|        64|
|         13|        63|
|          7|        62|
|         10|        61|
|         14|        61|
|          3|        60|
|          5|        58|
|         16|        57|
|          4|        57|
|         11|        56|
|         12|        51|
+-----------+----------+

2.
Вивести 10 акторів, чиї фільми брали на прокат найбільше.
Результат відсортувати за спаданням.

In [26]:
# тут має бути розвʼязок задачі
join1 = rental_df.join(inventory_df, rental_df.inventory_id==inventory_df.inventory_id, 'inner').join(film_actor_df, inventory_df.film_id==film_actor_df.film_id, 'inner').join(actor_df, actor_df.actor_id==film_actor_df.actor_id, 'inner')

result1 = join1.groupBy('last_name').agg(
    f.max('first_name').alias('actor_name'),
    f.count('rental_id').alias('amout_rental_films')
).orderBy(f.desc(f.count('rental_id'))).show(10)

+---------+----------+------------------+
|last_name|actor_name|amout_rental_films|
+---------+----------+------------------+
|   KILMER|    SANDRA|              2145|
|    NOLTE|    WARREN|              2119|
|   TEMPLE|     THORA|              1778|
|DEGENERES|      NICK|              1611|
|   KEITEL|     MILLA|              1586|
|    BERRY|      KARL|              1480|
|     TORN|    WALTER|              1478|
|  HOFFMAN|     WOODY|              1455|
|  GUINESS|      SEAN|              1425|
|  GARLAND|     KEVIN|              1394|
+---------+----------+------------------+
only showing top 10 rows

3.
Вивести категорія фільмів, на яку було витрачено найбільше грошей
в прокаті

In [29]:
# тут має бути розвʼязок задачі
join2 = payment_df.join(rental_df, rental_df.rental_id==payment_df.rental_id, 'inner').join(inventory_df, inventory_df.inventory_id==rental_df.inventory_id, 'inner').join(film_category_df, film_category_df.film_id==inventory_df.film_id, 'inner').join(category_df, category_df.category_id==film_category_df.category_id, 'inner')

result1 = join2.groupBy('name').agg(
    f.sum('amount').alias('amount_of_money')
).orderBy(f.desc(f.sum('amount'))).show(10)

+---------+------------------+
|     name|   amount_of_money|
+---------+------------------+
|   Sports| 5314.209999999848|
|   Sci-Fi|  4756.97999999987|
|Animation| 4656.299999999864|
|    Drama| 4587.389999999876|
|   Comedy| 4383.579999999895|
|   Action| 4375.849999999871|
|      New| 4361.569999999897|
|    Games| 4281.329999999893|
|  Foreign| 4270.669999999888|
|   Family|4226.0699999998815|
+---------+------------------+
only showing top 10 rows

4.
Вивести назви фільмів, яких не має в inventory.
Запит має бути без оператора IN

In [39]:
# тут має бути розвʼязок задачі
join3 = film_df.join(inventory_df, inventory_df.film_id==film_df.film_id, 'left_outer')

join3.select('title').distinct().show(20)

+--------------------+
|               title|
+--------------------+
|APOCALYPSE FLAMINGOS|
|    DAUGHTER MADIGAN|
|       FANTASIA PARK|
|       FRIDA SLIPPER|
|   CURTAIN VIDEOTAPE|
|         DANCES NONE|
|    DARLING BREAKING|
|DRIFTER COMMANDMENTS|
|         FURY MURDER|
|         KARATE MOON|
|   MEMENTO ZOOLANDER|
|        PURPLE MOVIE|
|      REQUIEM TYCOON|
|        CIDER DESIRE|
|     CLUELESS BUCKET|
|        DOGMA FAMILY|
|         PURE RUNNER|
|           RACER EGG|
|      ROSES TREASURE|
|         STOCK GLASS|
+--------------------+
only showing top 20 rows

5.
Вивести топ 3 актори, які найбільше зʼявлялись в категорії фільмів “Children”

In [47]:
# тут має бути розвʼязок задачі
children_ct_df = category_df.select('category_id').where(category_df.name == 'Children')
join5 = children_ct_df.join(film_category_df, film_category_df.category_id==children_ct_df.category_id, 'inner').join(film_actor_df, film_actor_df.film_id==film_category_df.film_id, 'inner').join(actor_df, actor_df.actor_id==film_actor_df.actor_id, 'inner')

result1 = join5.groupBy(actor_df['first_name'], actor_df['last_name']).agg(
    f.count(film_category_df['film_id'])
).orderBy(f.desc(f.count(film_category_df['film_id']))).show(3)

+----------+---------+--------------+
|first_name|last_name|count(film_id)|
+----------+---------+--------------+
|     HELEN|   VOIGHT|             7|
|     SUSAN|    DAVIS|             6|
|     KEVIN|  GARLAND|             5|
+----------+---------+--------------+
only showing top 3 rows

6.
Вивести міста з кількістю активних та неактивних клієнтів
(в активних customer.active = 1).
Результат відсортувати за кількістю неактивних клієнтів за спаданням.

In [ ]:
# тут має бути розвʼязок задачі
join6 = customer_df.join(address_df, address_df.address_id==customer_df.address_id, 'inner').join(city_df, city_df.city_id==address_df.city_id, 'inner')

#df3 = customer_df.withColumn("inactive_customers", expr("case when active = 0 then 1 " + "else 0 end"))

#df4 = customer_df.select(col("*"), expr("case when active == 0 then 1 " + "else 0 end").alias("inactive_customers"))
#df2 = customer_df.withColumn("inactive_customers", when(col("active") == 0, 1).otherwise(0))
#customer_df.select()

def inact(x: int) -> int:
    if x == 0:
        return 1
    else:
        return 0
inactive_cust = customer_df.select('customer_id', 'address_id', 'active').withColumn('active', inact(f.col('active')))

# join7 = customer_df.join(address_df, address_df.address_id==customer_df.address_id, 'inner').join(city_df, city_df.city_id==address_df.city_id, 'inner')

In [53]:
customer_df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address_id: integer (nullable = true)
 |-- activebool: boolean (nullable = true)
 |-- create_date: timestamp (nullable = true)
 |-- last_update: timestamp (nullable = true)
 |-- active: integer (nullable = true)

In [57]:

def inactive(x: int) -> int:
    if x==0 :
        return 1
    else:
        return 0

customer_df.select('customer_id', 'address_id', 'active').withColumn('active', inactive(f.col('active'))).show(20)

ValueError: Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.